blinker
click
dotenv
email-validator
Flask
python-dotenv
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
psycopg2-binary
SQLAlchemy
typing_extensions
Werkzeug
WTForms
